name: Build

on:
  push:
    branches:
      - master

    tags:
      - v*

  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15.0'
      - uses: actions/checkout@v2
      - name: Testing
        run: |
          go mod download
          go test ./controllers/...
